{{ partial "head/metadata.html" . }}
{{ partial "head/favicons.html" . }}
{{ partial "head/css.html" . }}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [['$','$'], ['\\(','\\)']],
      displayMath: [['$$','$$']],
      processEscapes: true,
      processEnvironments: true,
      skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
      TeX: { equationNumbers: { autoNumber: "AMS" },
           extensions: ["AMSmath.js", "AMSsymbols.js"] }
    }
  });
</script>

<!-- Google fonts-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic">

{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}

<!--
<style type="text/css">
  ::selection {
    background: #fff; /* WebKit/Blink Browsers */
    color: black;
  }
  ::-moz-selection {
    background: #fff; /* Gecko Browsers */
    color: black;
  }
</style>
 -->
