{{ partial "head/metadata.html" . }}
{{ partial "head/favicons.html" . }}
{{ partial "head/css.html" . }}

{{ partial "mathjax.html" . }}

<!-- Google fonts (use local because fuck tracking)-->
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Didact+Gothic"> -->

<style>
  /* didact-gothic-regular - latin */
  /* https://google-webfonts-helper.herokuapp.com/ */
  @font-face {
    font-family: 'Didact Gothic';
    font-style: normal;
    font-weight: 400;
    src: url('/font/didact-gothic-v13-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Didact Gothic Regular'), local('DidactGothic-Regular'),
         url('/font/didact-gothic-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/font/didact-gothic-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/font/didact-gothic-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/font/didact-gothic-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/font/didact-gothic-v13-latin-regular.svg#DidactGothic') format('svg'); /* Legacy iOS */
  }
</style>

<!--
{{ template "_internal/twitter_cards.html" . }}
{{ template "_internal/opengraph.html" . }}
 -->
<!--
<style type="text/css">
  ::selection {
    background: #fff; /* WebKit/Blink Browsers */
    color: black;
  }
  ::-moz-selection {
    background: #fff; /* Gecko Browsers */
    color: black;
  }
</style>
 -->
