<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
        <title>{{ .Title }}</title>
        <style>
            .img-circle {
                border-radius: 50%;
                width: 200px;
            }
        </style>
    </head>
    <body>
        <div style="
            display: flex;
            flex-direction: row;
            align-items: stretch;
            min-width: 600px;
            width: 45%
        ">
            <div class="section" id="splash">
                {{ if .Site.Params.mainMenu }}
                    {{ range .Site.Params.mainMenu }}
                        <div class="big-link">
                            <a href="{{.link}}">
                                {{.text}}
                            </a>
                        </div>
                    {{ end }}

                {{ else }}
                    {{ range .Site.Sections }}
                        <div class="big-link">
                            <a href="{{.Permalink}}">
                                {{.Title}}
                            </a>
                        </div>
                    {{ end }}
                {{ end }}
            </div>

            <div class="section" id="pic" style="margin-left: 5em">
                <img src="{{$.Site.Params.profilePic}}" class="img-circle" alt="profile picture">
            </div>
        </div>
    </body>
</html>
