<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
        <title>{{ .Title }}</title>
        <style>
            .img-circle {
                border-radius: 50%;
                width: 200px;
            }
        </style>
    </head>
    <body>
        <div id="container">
            <div class="row">
                <div id="pic">
                    <img src="{{$.Site.Params.profilePic}}" class="img-circle" alt="profile picture">
                </div>

                <div class="section" id="splash">
                    {{ if .Site.Params.mainMenu }}
                        {{ range .Site.Params.mainMenu }}
                            <div class="big-link">
                                <a href="{{.link}}">
                                    {{.text}}
                                    {{.emoji | emojify}}
                                </a>
                            </div>
                        {{ end }}

                    {{ else }}
                        {{ range .Site.Sections }}
                            <div class="big-link">
                                <a href="{{.Permalink}}">
                                    {{.Title}}
                                </a>
                            </div>
                        {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </body>
</html>
