<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
        <title>{{ .Title | markdownify }}</title>
        <style>
            .img-circle {
                border-radius: 50%;
                width: 200px;
            }
        </style>
    </head>
    <body>
        <div id="splash">
            <div id="pic">
                <img src="{{$.Site.Params.profilePic}}" class="img-circle" alt="profile picture">
            </div>
            <nav role="navigation" class="flex-container">
                {{ if .Site.Params.mainMenu }}
                {{ range .Site.Params.mainMenu }}
                    <a href="{{.link}}" class="big-link">
                        {{.text}}
                        {{.emoji | emojify}}
                    </a>
                {{ end }}
                {{ else }}
                {{ range .Site.Sections }}
                    <a href="{{.RelPermalink}}" class="big-link">
                        {{.Title | markdownify}}
                    </a>
                {{ end }}
                {{ end }}
            </nav>
    </body>
</html>
